<!-- <h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>
 -->
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>
<div class="container mt-5">
  <h1>Create New Restaurant</h1>


  <%= render 'form', restaurant: @restaurant %>

</div>
